{% extends "base.html" %}
{% block about %}About{% endblock about %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
      <div class= "container  my-3">
        <div class="jumbotron">
          <h1 class="display-4">Hello, world!</h1>
          <p class="lead"><b>I am Adarsh Singh.</b></p>
          <hr class="my-4">
          <p> I am a final year student of B.Tech Computer Science . I have good knowledge of DSA and Computer Science Fundamentals. </p>
          <p>I am proficient in C++ apart from that I am also familiar with web technologies like HTML,CSS and Django.</p>
          
        </div>
        
      
      </div>
{% endblock body %}
